@tailwind base;
@tailwind components;
@tailwind utilities;

.lists:hover li{
    transition: all .5s ease;
    opacity: .5;
    filter: blur(1px);
}

.lists li:hover{
    opacity: 1;
    filter: blur(0px);
    transform: scale(1.1);
}

.filter-type>*{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #dcdcdc;
}
.filter-price>*{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #dcdcdc;
}

.aboutonline{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer-links li:hover{
    color: #dcdcdc;
}

.item-amount{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 
}